.boton {
  background-color: #ff535b !important;
}
.list-group-item-primary {
  background-color:#030917 !important;
  color: white !important;
  font-family: "Croissant One", cursive;
  font-family: "Mooli", sans-serif;
  font-family: "Roboto", sans-serif;
}
.thead {
  cursor: pointer;
  color: white !important;
  background-color:#030917 !important;
  font-family: "Croissant One", cursive;
  font-family: "Mooli", sans-serif;
  font-family: "Roboto", sans-serif;
}
th {
  color: white !important;
  background-color:#030917 !important;
  font-family: "Croissant One", cursive;
  font-family: "Mooli", sans-serif;
  font-family: "Roboto", sans-serif;
}
