<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a  [routerLink]="['/admin/ventas']">Tabla</a></li>
                <li class="breadcrumb-item"><a > Nueva Venta</a></li>
            </ol>
        </div>
        <!-- row -->

        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Formulario</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form #registroForm="ngForm" (ngSubmit)="registro(registroForm)">

                                <div class="row mb-4">
                                    <h2 class="h4 pt-2 mb-4">1. Montos adicionales</h2>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Precio Envío</mat-label>
                                                <input [(ngModel)]="venta.envio_precio" matInput type="number"
                                                    name="envio_precio" autofocus name="value">
                                                <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
                                                    (click)="value=''">
                                                    <mat-icon>close</mat-icon>
                                                </button>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Estado</mat-label>
                                                <mat-select [(ngModel)]="venta.estado" required name="estado">
                                                    <mat-option *ngFor="let item of estado" [value]="item.value">
                                                        {{item.viewValue}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <!-- Payment -->
                                    <h2 class="h4 pt-2 mb-4">2. Métodos de pago</h2>
                                    <div class="row pb-4">
                                        <div class="col-lg-7">
                                            <div class="accordion-alt" id="payment-methods">

                                                <mat-form-field appearance="fill" class="mt-4">
                                                    <mat-label>Pago</mat-label>
                                                    <mat-select [(ngModel)]="venta.metodoPago" required name="metodoPago">
                                                        <mat-option *ngFor="let item of metodo" [value]="item.value">
                                                            {{item.viewValue}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="mb-4 pb-2">


                                </div>
                                <!-- Additional info -->
                                <h2 class="h4 mb-4">3. Información adicional (opcional)</h2>
                                <div class="form-group row">
                                    <div class="col-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Cliente</mat-label>
                                            <input [(ngModel)]="venta.nota" matInput type="text"
                                                name="nota" autofocus>
                                            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
                                                (click)="value=''">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Observación</mat-label>
                                            <input [(ngModel)]="venta.observacion" matInput type="text"
                                                name="observacion" autofocus>
                                            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
                                                (click)="value=''">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="form-group row mt-4">
                                    <div class="col-6">
                                        <mat-form-field>
                                            <input type="text" required placeholder="Añadir producto" aria-label="Productos"
                                                matInput [formControl]="autocompleteControl" [matAutocomplete]="auto">
                                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarNombre"
                                                (optionSelected)="seleccionarProducto($event)">
                                                <mat-option *ngFor="let producto of productosFiltrados | async"
                                                    [value]="producto">
                                                    {{producto.nombre}}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                        
                                    </div>
                                </div>
                                <div class="alert alert-secondary alert-dismissible fade show" *ngIf="venta.dventas.length == 0">
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="btn-cerrar" _mstaria-label="130091" _msthash="321">
                                    </button>
                                    <font _mstmutation="1" _msttexthash="760539" _msthash="322"><strong _mstmutation="1"
                                            _istranslated="1">¡Advertencia!</strong> No hay productos asignados para la venta. </font>
                                </div>
                                <table class="table table-striped table-hover table-sm"
                                    *ngIf="venta.dventas.length > 0">
                                    <thead>
                                        <tr>
                                            <th>Producto</th>
                                            <th>Precio</th>
                                            <th>Cantidad</th>
                                            <th>Total</th>
                                            <th>Eliminar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of venta.dventas">
                                            <td>{{item.producto.nombre}}</td>
                                            <td>{{item.producto.precioVenta}}</td>
                                            <td><input type="number" value="{{item.cantidad}}"
                                                    class="form-control col-sm-4"
                                                    (change)="actualizarCantidad(item.producto.id, $event)"></td>
                                            <td>{{item.calcularImporte()}}</td>
                                            <td><button class="btn btn-danger btn-sm" type="button"
                                                    (click)="eliminarItemFactura(item.producto.id)">x</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h5 class="float-left" *ngIf="venta.dventas.length > 0">Gran Total: <span
                                        class="badge badge-danger">{{venta.calcularGranTotal()}}</span></h5>



                                <button [routerLink]="['/admin/products']" type="submit"
                                    class="btn btn-rounded btn-info m-2">Cancelar</button>
                                <button (ngSubmit)="registro(registroForm)" type="submit"
                                    class="btn btn-rounded btn-danger">Guardar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>