<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Tabla</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)"> Nueva Venta</a></li>
            </ol>
        </div>
        <!-- row -->

        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Formulario</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form #registroForm="ngForm" (ngSubmit)="registro(registroForm)">

                                <div class="row mb-4">
                                    <h2 class="h4 pt-2 mb-4">1. Montos adicionales</h2>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Precio Envío</mat-label>
                                                <input [(ngModel)]="venta.envio_precio" matInput type="number"
                                                    name="nombre" autofocus name="value">
                                                <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
                                                    (click)="value=''">
                                                    <mat-icon>close</mat-icon>
                                                </button>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field appearance="fill">
                                                <mat-label>Estado</mat-label>
                                                <mat-select [(ngModel)]="venta.estado" required name="estado">
                                                    <mat-option *ngFor="let item of estado" [value]="item.value">
                                                        {{item.viewValue}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <!-- Payment -->
                                    <h2 class="h4 pt-2 mb-4">2. Métodos de pago</h2>
                                    <div class="row pb-4">
                                        <div class="col-lg-7">
                                            <div class="accordion-alt" id="payment-methods">

                                                <mat-form-field appearance="fill" class="mt-4">
                                                    <mat-label>Pago</mat-label>
                                                    <mat-select [(ngModel)]="venta.metodoPago" required name="estado">
                                                        <mat-option *ngFor="let item of metodo" [value]="item.value">
                                                            {{item.viewValue}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>

                                    <hr class="mb-4 pb-2">


                                </div>
                                <!-- Additional info -->
                                <h2 class="h4 mb-4">3. Información adicional (opcional)</h2>
                                <div class="form-group row">
                                    <div class="col-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Observación</mat-label>
                                            <input [(ngModel)]="venta.observacion" matInput type="text"
                                                name="observacion" autofocus>
                                            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
                                                (click)="value=''">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="form-group row mt-4">
                                    <div class="col-6">
                                        <mat-form-field>
                                            <input type="text" placeholder="Añadir producto" aria-label="Productos" matInput [formControl]="autocompleteControl" [matAutocomplete]="auto">
                                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarNombre" >
                                              <mat-option *ngFor="let producto of productosFiltrados | async" [value]="producto">
                                                {{producto.nombre}}
                                              </mat-option>
                                            </mat-autocomplete>
                                          </mat-form-field>
                                    </div>
                                </div>
                                <button [routerLink]="['/admin/products']" type="submit"
                                    class="btn btn-rounded btn-info m-2">Cancelar</button>
                                <button (ngSubmit)="registro(registroForm)" type="submit"
                                    class="btn btn-rounded btn-danger">Guardar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>