<div class="divCss1g7zkn">
    <button class="linkChakraButton"><div class="pipeBlog">Pipe Blog</div></button>
    <div class="divCss">
      <div class="resources">Resources</div>
      <div class="paragraphChakraText">
        <div class="discoverToolsAndInsightsToHelp">Discover tools and insights to help you</div>
        <div class="runFinanceAndGrowYourBusiness">run, finance, and grow your business</div>
      </div>
    </div>
  </div>
  <div class="divSwiperWrapper1b7ff7e25dddb8">
    <div class="divCss1my8j5i">
      <div class="divCss1wd9bp4">
        <div class="divCss8z40su"><div class="imageCssFcdwcq"></div></div>
        <div class="divCssJ9p0nx">
          <div class="paragraphChakraText2">
            <div class="howToUtilizeBusinessLoans">How to utilize business loans</div>
            <div class="forExpansion">for expansion.</div>
          </div>
          <button class="linkChakraButton2"><div class="readArticle">Read Article</div></button>
        </div>
      </div>
    </div>
    <div class="divCss1a6w5sj">
      <div class="divCss18tndj">
        <div class="paragraphChakraText3">
          <div class="shouldVerticalSoftware">Should vertical software</div>
          <div class="companiesDevelopInHouse">companies develop in-house</div>
          <div class="embeddedFinancingOr">embedded financing or</div>
          <div class="partner">partner?</div>
        </div>
        <button class="linkChakraButton3"><div class="readArticle2">Read Article</div></button>
      </div>
    </div>
    <div class="divCss1dhe127">
      <div class="divCss1nzoe9b">
        <div class="divCss1vwwd7h">
          <div class="paragraphChakraText4">
            <div class="cAC">CAC</div>
            <div class="calculator">Calculator</div>
          </div>
          <div class="icon"><img src="assets/div-css-1vwwd7h-icon.svg" alt="" class="icon2" /></div>
        </div>
        <div class="divCss85ugcb">
          <div class="paragraphChakraText5">
            <div class="whatIsCACAndHowDoI">What is CAC and how do I</div>
            <div class="calculateIt">calculate it?</div>
          </div>
          <button class="linkChakraButton4"><div class="readArticle3">Read Article</div></button>
        </div>
      </div>
    </div>
    <div class="divCss15f8yxd">
      <div class="divCss1vl8oxe">
        <div class="divCss79elbk">
          <div class="videoCssKuefc4"></div>
          <div class="divCssH8qx3h">
            <button class="linkChakraButton5"><div class="readArticle4">Read Article</div></button>
            <div class="paragraphChakraText6">
              <div class="yourProductOrService">your product or service.</div>
              <div class="_3StepsToEmbedFinancingInto">3 steps to embed financing into</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
