<!--Ver todo el detalle de un producto-->
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a [routerLink]="['/admin/products']">Tabla</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Productos</a></li>
            </ol>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <th scope="row">ID:</th>
                                <td>{{ producto.id }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Nombre:</th>
                                <td>{{ producto.nombre }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Categoría:</th>
                                <td>{{ producto.categoria.nombre }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Descripción:</th>
                                <td>{{ producto.descripcion }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Estado:</th>
                                <td>
                                    <span class="badge badge-success">{{ producto.estado }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Fecha De Registro:</th>
                                <td>{{ producto.createdAt | date: 'dd/MM/YYYY' }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Precio Compra:</th>
                                <td>{{ producto.precio | currency:'USD' }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Precio Venta:</th>
                                <td>{{ producto.precioVenta | currency:'USD' }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Stock:</th>
                                <td>{{ producto.stock }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Cantidad:</th>
                                <td>{{ producto.cantidad }}</td>
                            </tr>
                            <tr>
                                <th scope="row">SKU:</th>
                                <td>{{ producto.sku }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Marca:</th>
                                <td>{{ producto.marca.nombre }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Número de Ventas:</th>
                                <td>{{ producto.nventas }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <!--Card para imagen-->
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <div class="input-group mb-3" style="max-width: 300px; margin: 0 auto;">
                        <input (change)="seleccionarFoto($event)" type="file" class="form-control" id="inputGroupFile04"
                            aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                        <button (click)="subirFoto()" [disabled]="!fotoSeleccionada" class="btn btn-outline-secondary"
                            type="button" id="inputGroupFileAddon04">Subir</button>
                    </div>
                    <div *ngIf="progreso > 0" class="progress" style="height: 40px; max-width: 300px; margin: 10px auto;">
                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-label="Info striped example"
                            [ngStyle]="{ width: progreso + '%' }" [attr.aria-valuenow]="progreso" aria-valuemin="0" aria-valuemax="100">
                            {{ progreso }}%
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <img *ngIf="producto?.imagen" src="http://localhost:9090/api/producto/upload/img/{{ producto.imagen }}"
                    alt="{{ producto.imagen }}" class="img-thumbnail rounded" style="max-width: 500px; margin: 30px auto;">
            </div>
        </div>
        

</div>
