<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a >Tabla</a></li>
                <li class="breadcrumb-item"><a >Productos</a></li>
            </ol>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h5 style="margin-bottom: 0px;">Filtro de Productos</h5>
                    </div>
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Producto</mat-label>
                                    <input matInput name="filtro" [(ngModel)]="nombre" placeholder="Buscar por nombre..."
                                        aria-label="State" [formControl]="stateCtrl">
                                    <mat-icon *ngIf="nombre" style="border:none; background:none; cursor: pointer; position: absolute;"
                                        (click)="filtrar()">search</mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-slide-toggle [checked]="stateCtrl.disabled"
                                    (change)="stateCtrl.disabled ? stateCtrl.enable() : stateCtrl.disable()">
                                    Deshabilitar?
                                </mat-slide-toggle>
                            </div>
                            <div class="col-md-12 mt-3">
                                <button type="submit" (click)="reset()" class="badge badge-lg light badge-danger">Todos</button>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Aquí puedes agregar el contenido de la tarjeta si es necesario -->

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-responsive-md">
                                <thead>
                                    <tr>
                                        <th style="width:80px;"><strong>#</strong></th>
                                        <th><strong>NOMBRE</strong></th>
                                        <th><strong>PRECIO V</strong></th>
                                        <th><strong>STOCK</strong></th>
                                        <th><strong>CANTIDAD</strong></th>
                                        <th><strong>ESTADO</strong></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of products">
                                        <td>
                                            <div class="imagen">
                                                <img  *ngIf="product?.imagen"
                                                    src="http://localhost:9090/api/producto/upload/img/{{product.imagen}}"
                                                    alt="...">
                                                <img  *ngIf="!product?.imagen"
                                                    src="http://localhost:9090/api/producto/upload/img/nofoto.jpg"
                                                    alt="...">
                                            </div>
                                        </td>
                                        <td *ngIf="product.stock<=2">
                                            <span class="badge light badge-danger">{{product.nombre}}</span>

                                        </td>
                                        <td *ngIf="product.stock>2">
                                            {{product.nombre}}
                                        </td>
                                        <td>{{product.precioVenta}}.00</td>

                                        <td *ngIf="product.stock==0">
                                            <span class="badge light badge-danger">Agotado</span>
                                        </td>
                                        <td *ngIf="product.stock>0">
                                            <span class="badge light badge-primary">{{product.stock}}</span>
                                        </td>
                                        <td>{{product.cantidad}}</td>
                                        <td *ngIf="product.estado=='ACTIVO'">
                                            <span class="badge light badge-success">{{product.estado}}</span>
                                        </td>
                                        <td *ngIf="product.estado=='INACTIVO'">
                                            <span class="badge light badge-warning">{{product.estado}}</span>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn btn-success light sharp"
                                                    data-bs-toggle="dropdown">
                                                    <svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none"
                                                            fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24" />
                                                            <circle fill="#000000" cx="5" cy="12" r="2" />
                                                            <circle fill="#000000" cx="12" cy="12" r="2" />
                                                            <circle fill="#000000" cx="19" cy="12" r="2" />
                                                        </g>
                                                    </svg>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item"
                                                        [routerLink]="['/admin/products/ver', product.id]">Ver</a>
                                                    <a *ngIf="authService.hasRole('ROLE_ADMIN')" class="dropdown-item" 
                                                        [routerLink]="['/admin/products/edit',product.id]">Editar</a>
                                                    <a *ngIf="authService.hasRole('ROLE_ADMIN')" class="dropdown-item" style="cursor: pointer;"
                                                        (click)="delete(product)">Eliminar</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                        <ng-container *ngIf="products.length<=0">
                            <div>
                                <mat-list-item>
                                    <mat-icon mat-list-icon>info</mat-icon>
                                    <div mat-line>No hay productos</div>
                                </mat-list-item>
                            </div>
                        </ng-container>




                        <div>
                            <paginator-products *ngIf="pagination" [pagination]="pagination"></paginator-products>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="products.length>0">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 style="margin-bottom: 0px;">Imprimir</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="badge badge-lg light badge-warning" (click)="imprimir()">Imprimir Reporte</button>
                            </div>                          
                        </div>
                    </div>
                </div>
            </div>

    </div>
    </div>
</div>