.imagen {
    width: 30px; 
    height: 30px; 
    overflow: hidden; 
    border-radius: 15%; 
  }
  
  .imagen img {
    width: 100%; 
    height: auto; 
    display: block; 
  }
  
/* Estilos generales */
.card-header {
  padding: 15px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .card-header {
      padding: 10px;
  }
  
  /* Agrega más estilos específicos para dispositivos móviles según sea necesario */
}
